* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 14px;
}

#margenes {
  margin-left: 2%;
  margin-right: 2%;
}

header {
  height: 54vh;
}

.world {
  text-decoration: line-through;
}

.punto {
  color: blue;
}

header h1 {
  width: 80%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: 2px;
}

.parrafo1 {
  letter-spacing: 0px;
  margin-top: 0px;
  font-size: 1rem;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 22px;
}

.div_boton1 {
  height: 9vh;
  width: 98%;
}

.boton1 {
  font-size: 1.15rem;
  height: 100%;
  width: 100%;
  background-color: #00f3bb;
  opacity: 0.8;
  border: none;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
}

.boton1:hover {
  opacity: 0.3;
}

nav {
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
}

.menu {
  margin-top: -5vh;
}

.menu ul {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  list-style: none;
  text-align: center;
  overflow: hidden;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.menu ul li {
  padding-bottom: 5%;
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  display: block;
  font-family: 'IBM Plex Mono', monospace;
}

.menu ul li a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

input[type="checkbox"]:checked ~ ul {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  position: relative;
}

.menu input {
  display: block;
  width: 40px;
  margin-left: 90%;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

.menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  margin-left: 90%;
  position: relative;
  background: #000;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

.menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/*movimiento a cruz*/
.menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

.menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

.container_fondo {
  position: relative;
}

.fondo1 {
  height: 177vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  width: 100%;
  min-width: 100%;
  position: absolute;
  -webkit-transform: skew(0, -5deg);
          transform: skew(0, -5deg);
  z-index: -2;
}

.episodios {
  padding-top: 10%;
  color: white;
  font-size: 2.2rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

.spotify_episodios iframe {
  border: none;
  width: 100%;
  height: 30vh;
  padding: 0px 2% 0px 2%;
}

.container_phone {
  height: 100vh;
}

.container_phone img {
  height: 100vh;
  width: 100%;
  padding-top: 10vh;
}

.container_parrafo2 h3 {
  width: 50%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  margin-left: 2%;
  margin-right: 2%;
}

.container_parrafo2 p {
  width: 95%;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.9rem;
  margin-left: 2%;
  margin-right: 2%;
}

.grid h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  margin-left: 2%;
  margin-right: 2%;
}

.grilla img {
  width: 100%;
}

.grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

.prefooter h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  margin-left: 2%;
  margin-right: 2%;
  width: 90%;
}

.lista_prefooter {
  list-style: none;
  text-align: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  padding-bottom: 9%;
}

.lista_prefooter p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5rem;
  color: #060A24;
  letter-spacing: 0;
  font-weight: bold;
  padding: 0 3.4% 0 3.4%;
}

.fondo2 {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  width: 100%;
  height: 40vh;
}

.fondo2:before {
  content: "";
  width: 100%;
  background-color: blue;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  position: absolute;
  top: -6vh;
  z-index: -1;
  height: 20vh;
}

.fondo2 p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  padding-top: 3vh;
}

.div_boton2 {
  width: 100%;
  height: 8vh;
  padding: 0 8% 0 8%;
}

.boton2 {
  font-size: 1.15rem;
  height: 100%;
  width: 100%;
  background-color: #00f3bb;
  opacity: 1;
  border: none;
  font-weight: 600;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
}

.boton2:hover {
  opacity: 0.7;
}

.pie {
  width: 100%;
}

.pie p {
  font-size: 1rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: #060a24;
  text-align: center;
}

.pie ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  #margenes {
    margin-left: 16%;
    margin-right: 16%;
  }
  nav {
    padding: 2% 8% 0 8%;
  }
  .menu {
    margin-top: 0vh;
    width: 80%;
  }
  .menu input,
  .menu span {
    display: none;
  }
  .menu ul {
    -webkit-transform: translate(0);
            transform: translate(0);
    text-align: right;
  }
  .menu ul li {
    display: inline-block;
    padding: 1% 3% 0 0;
  }
  header {
    padding-top: 8%;
    height: 65vh;
  }
  header h1 {
    font-size: 2.3rem;
    line-height: 0px;
    letter-spacing: 5px;
    width: 100%;
  }
  .parrafo1 {
    width: 70%;
  }
  .div_boton1 {
    padding-top: 5%;
    width: 40%;
    height: 15vh;
  }
  .episodios {
    font-size: 3rem;
  }
  .spotify_episodios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px 8% 0px 8%;
    height: 100vh;
  }
  .spotify_episodios iframe {
    width: 50%;
    min-height: 50vh;
  }
  .container_phone_parrafo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container_phone {
    height: 140vh;
    text-align: center;
  }
  .container_phone img {
    height: 95%;
    padding-top: 22%;
    width: 80%;
  }
  .container_parrafo2 {
    width: 50%;
    padding-top: 42vh;
  }
  .container_parrafo2 h3 {
    font-size: 2.5rem;
    width: 90%;
  }
  .container_parrafo2 p {
    width: 90%;
    font-size: 0.9rem;
    letter-spacing: 0;
    line-height: 20px;
  }
  .grid h3 {
    font-size: 3rem;
  }
  .grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33.33%)[3];
        grid-template-columns: repeat(3, 33.33%);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .prefooter h3 {
    font-size: 3rem;
    width: 80%;
  }
  .lista_prefooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 5% 4% 12% 4%;
  }
  .lista_prefooter li {
    width: 18vw;
  }
  .fondo2:before {
    top: -13vh;
    height: 40vh;
  }
  .fondo2 p {
    font-size: 3rem;
  }
  .div_boton2 {
    width: 75%;
    padding-right: 0px;
    padding-left: 25%;
    height: 10vh;
  }
  .pie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 8% 0px 8%;
  }
  .pie p {
    text-align: left;
    font-size: 1.3rem;
  }
  .pie ul {
    padding-right: 7%;
  }
  .pie ul li {
    padding: 10% 0 0 50%;
  }
  .pie ul li:hover {
    padding-top: 6%;
  }
}

@media screen and (min-width: 1024px) {
  .menu ul li {
    padding: 1.5% 5% 0 0;
  }
  header h1 {
    font-size: 3rem;
  }
  .div_boton1 {
    width: 25%;
  }
  .spotify_episodios iframe {
    width: 50%;
    min-height: 40vh;
  }
  .container_parrafo2 h3 {
    font-size: 3rem;
    width: 90%;
  }
  .container_parrafo2 p {
    width: 60%;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 24px;
  }
  .container_phone_parrafo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container_phone {
    height: 120vh;
    text-align: right;
  }
  .container_phone img {
    padding-top: 12%;
  }
  .div_boton2 {
    width: 62%;
    padding-right: 0px;
    padding-left: 38%;
  }
}
/*# sourceMappingURL=estilos.css.map */