.container_fondo{
    position: relative;
}
.fondo1{
    height: 177vh;
    background-image: linear-gradient(#0000FF , #0000A3);
    width: 100%;
    min-width: 100%;
    position: absolute;
    transform: skew(0, -5deg);
    z-index: -2;
}

.episodios{
    padding-top: 10%;
    color: white;
    font-size: 2.2rem;
    font-family: 'IBM Plex Sans', sans-serif;
}
.spotify_episodios iframe{
    border: none;
    width: 100%;
    height: 30vh;
    padding: 0px 2% 0px 2%;
}
.container_phone{
    height: 100vh;
}
.container_phone img{
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
}
.container_parrafo2 h3{
    width: 50%;
    @include titulos;
    @include margenes;

}
.container_parrafo2 p{
    width: 95%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.9rem;
    @include margenes;
}