.imagenes_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.imagenes_footer li{
    width: 100%;
    padding-bottom: 15%;
}
.imagenes_footer img{
    padding-left: 35%;
}
.imagenes_footer p{
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}
.boton2{
    width: 80%;
    height: 60%;
    font-size: 1.1rem;
}
.ultimas_novedades{
    padding: 0px;
    font-size: 2.5rem;
    @include centrado;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif

}
.fondo2{
    margin-top: 100px;
    position: relative;
    // z-index: -1;
    background-image: linear-gradient(#0000FF , #0000A3);
    margin-left: 0px;
    width: 100%;
}
.fondo2:before {
    content: "";
    width: 100%;
    background-color: blue;
    transform: skewY(-4deg);
    position: absolute;
    left: 0;
    top: -47px;
    z-index: -1;
    height: 30vh;
}
.pie p{
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 50px;
    font-weight: bolder;
    color: rgba(6,10,36,1);
}
.pie div img {
    width: 5%;
}
.pie div{
    width: 50%;
    padding-left: 40px;

}